@import './fonts/fonts.css';

body{
font-family: "Gotham Rounded";
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.header{
    position: absolute;
    width: 100%;
}
.header_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 38px;
}
.navigation{
    max-width: 765px;
    width: 100%;
}
.navigation_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation_item{
    font-size: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: bold;
}
.section-main{
    background-image: url(./img/main/fon.png);
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section-main_wrapper{
    padding: 0 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.section-main_content{
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
}
.section-main_title{
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: bold;
}
.section-main_subtitle{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 16px;
    font-weight: normal;
    text-transform: lowercase;
}

.section-main_content-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width: 166px;
    height: 49px;
    background-color: #16a085;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.section-main_content-btn:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,255,255,.1);
  }
  .section_download_applestore_btn:hover,.section_download_playstore_btn:hover,.section-mainsecond_wrapper2part_btn:hover, .section-mainsecond_btn:hover,.section-main_content-btn:hover,.section-main_content-btn:hover {
    background: rgb(7, 137, 170);
  }
.section_download_applestore_btn:active,.section_download_playstore_btn:active,.section-mainsecond_wrapper2part_btn:active,.section-mainsecond_btn:active,.section-main_content-btn:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,255,255,.1);
  }
.section-main_social{
    position:absolute;
    bottom: 25px;
}
.section-mainsecond{
    min-width: 100%;
    background-image: url(./img/main/greyfon.png);
    background-repeat: no-repeat;
    background-size: 100% 494px;
    height: 494px;
}
.flicker{
    padding: 0 15px;
}
.containersecond{
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
}
.section-mainsecond_wrapperall{
    padding: 0 128px;
    display: flex;
    height: 494px;
}
.section-mainsecond_wrapper{
    font-weight: bold;
}
.section-mainsecond_title{
    max-width: 384px;
    text-transform: uppercase;
    padding-top: 115px;
    font-size: 18px;
    letter-spacing: 3px;
    color: #16a085;
}
.section-mainsecond_subtitle{
    padding-top: 50px;
    font-weight: normal;
    width: 513px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #373737;
}
.section-mainsecond_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 192px;
    height: 51px;
    background-color: #16a085;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.textboldfirst{
    font-weight: bold;
}
.textboldsecond{
    font-weight: bold;
}
.iphone{
    position:absolute;
    margin-top: 90px;
    right: 128px;
}
.section-mainsecond2part{
    position: relative;
    background-image: url(./img/main/whitefon.png);
    background-repeat: no-repeat;
    background-size: 100% 558px;
    height: 558px;
    display: flex;
    
}
.containersecond2part{

    min-width: 1280px;
    margin: 0 auto;

}
.section-mainsecond2part_wrapperall{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 128px;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 558px;
}
.section-mainsecond_wrapper2part{
    font-weight: bold;
    position:absolute;
    right:128px;
}
.section-mainsecond_wrapper2part_title{
    padding-top: 145px;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 22px;
    color: #16a085;
    text-transform: uppercase;
}
.section-mainsecond_wrapper2part_subtitle{
    padding-top: 45px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
    font-weight: normal;
}
.section-mainsecond_wrapper2part_btn{
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    width: 192px;
    height: 51px;
    background-color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
}
.flatiphone{
    margin-top: 145px;
}
.switching{
    margin-top: 48px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
    display: flex;
    font-weight: bold;
}
.section_ourcommunity{
    display: flex;
    position: relative;
    background-image: url(./img/main/greyfon.png);
    background-repeat: no-repeat;
    background-size: 100% 483px;
    height: 483px;
}
.section_ourcomminuty_container{
    
    min-width: 1280px;
    margin: 0 auto;
}
.section_ourcomminuty_wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 128px;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 483px;
}
.greencamera{
    padding-left: 58px;
    padding-top: 165px;
}
.section_ourcommunity_text_title{
    padding-top: 33px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #373737;
    font-weight: bold;
    text-transform: uppercase;
    
}
.section_ourcommunity_text_subtitle{
    width: 177px;
    font-size: 10px;
    letter-spacing: 2px;
    color: #373737;
    text-align: center;
    margin-top: 28px;
    font-weight: 500;
    
}
.section_ourcommunity_photo{
    display: flex;
    align-items: center;
}
.bus{
    position: absolute;
    right: 528px;
}
.leafs{
    position: absolute;
    right: 128px;
}
.section_ourcomminuty_arrows{
    padding-top: 93px;
}
.section_ourcomminuty_leftarrow{
    position: absolute;
    right: 153px;
}
.section_ourcomminuty_rightarrow{
    position: absolute;
    right: 128px;
}
.section_subscribetous{
    display: flex;
    position: relative;
    background-image: url(./img/main/telephonfon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    align-items: center;
}
.section_subscribetous_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    
}
.section_subscribetous_input{
    width: 280px;
    height: 60px;
    padding-left: 20px;
}
.section_subscribetous_text{
    font-size: 24px;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.section_subscribetous_inputandmark{
    margin-top: 35px;
    display: flex;
    
}
input::-webkit-input-placeholder { color: black;
    font-weight: 500;
 }
.section_subscribetous_input{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    border: 0px;
    text-transform: uppercase;
}
.section_subscribetous_btn{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 62px;
    background-color: #16a085;   
}
.section_download{
    display: flex;
    position: relative;
    background-image: url(./img/main/greyfon.png);
    background-repeat: no-repeat;
    background-size: 100% 396px;
    height: 396px;
}
.section_download_container{
    width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-transform: uppercase;
}
.section_download_text{
    font-size: 20px;
    letter-spacing: 3px;
    color: #373737;
   font-weight: bold;
   margin-top: 92px;
}
.section_download_subtitle{
    text-align: center;
    width: 877px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #373737;
    margin-top: 18px;
    
}
.section_download_applestore_btn{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
    text-decoration: none;
    width: 240px;
    height: 56px;
    color: white;
}
.section_download_playstore_btn{
    margin-left: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
    text-decoration: none;
    width: 240px;
    height: 56px;
    color: white;
}
.section_download_btns{
    margin-top: 50px;
    font-size: 16px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.section_downloadapplestoreicon_btn{
    margin-right: 15px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #16a085; 
}
.section_downloadplaystoreicon_btn{
    margin-right: 15px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #16a085;
}
.containerfooter{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 131px;
    position: relative;
}
.nothing{
    padding-left: 20px;
}
.navigationfooter_itemword1{
    padding-right: 10px;
}
.navigationfooter_itemword2{
    padding: 0 10px;
}
.navigationfooter_itemword3{
    padding-left: 10px;
}
.navigationfooter_itemsslash1,.navigationfooter_itemsslash2{
   color: #16a085;
}

.footerwrapper{
   padding-left:128px;;
    font-size: 14px;
    letter-spacing: 2px;
    color: #373737;
    font-weight: bold;
}
.copyright_text{
    padding-top: 25px;
}
.navigationfooter_list{
    display: flex;
}
.footercamera{
    position:absolute;
    right: 128px;
}
.section_downloadapplestoreicon_btn:active,.section_downloadplaystoreicon_btn:active {
    background: grey;
}
.section_downloadapplestoreicon_btn:hover,.section_downloadplaystoreicon_btn:hover {
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
    color: black;
}
.navigation_item:active{
    color: rgb(7, 137, 170);
}
.navigation_item:hover{
text-decoration: underline;
}
.navigationfooter_itemword1:hover, .navigationfooter_itemword2:hover,  .navigationfooter_itemword3:hover{
    color: #2EE59D;
    transform: translateY(-7px);
  }

 .leftarrow:hover,.rightarrow:hover{
    background: grey;
 }
 .section_ourcomminuty_leftarrow:hover,.section_ourcomminuty_rightarrow:hover{
    background: grey;
 }
 .section_subscribetous_btn:hover{
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
    color: black;
 }
 .section_subscribetous_btn:active{
    background: grey;
}

.twitter:hover,.flicker:hover,.dribble:hover{
    transform: translateY(-10px);
}